/* 
app.css
*/

body {
    background: #121a20 url(images/background.jpg) left top no-repeat;
    font-family: sans-serif;
    margin: 0; padding: 0;
    overflow:hidden;
}

a {
    text-decoration: none;
}

/* Scroll arrows */
.scroll {
    background: #000;
    color: #FFF;
}

#right {
    position: fixed;
}

#viewport {
    float:left;
    width: 100%;
    /*margin-left:10%;*/
    /*margin-right:10%;*/
	position:relative;
	z-index:1;
    overflow:hidden;
}

#jokes {
	height:100%;
	float:left;
	padding:0;
    padding-top:15px;
}
#jokes ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}
#jokes li{
    border: 4px solid #9e9e9e;
    color: #333333;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing:border-box;
	display:block; float:left;
    white-space: normal;
    overflow:hidden;
    direction:rtl;
    text-align:right;
    padding:0;
}

#jokes li p{
	-webkit-box-sizing:border-box;
	display:block;
    padding: 0 18px 30px;
    min-height:100%;

}

.bottomBar {
	position: fixed;
	bottom: 0;
}



/* Vote buttons */
.voting {
    width: 114px;
    width: 100%;
	z-index: 10;
	position: absolute;
	bottom: 50px;
	text-align: center;
}

.vote {
    display: inline-block;
	margin: 1em 3%;
	width: 111px;
	height: 33px;
	background-image: url(images/sprite.png);
	background-repeat: no-repeat;
	line-height: 29px;
	text-align: right;
	text-indent: 0.55em;
	font-weight: bold;
	color: #111;
}

#like {
	background-position: -2px -148px;
}

#dislike {
	background-position: -115px -148px;
}

nav {
    display: block;
    height: 50px;
    width: 100%;
	position: absolute;
	bottom: 0;
}

nav a {
    float: right;
    width: 25%;
    height:49px;
        line-height: 49px;
    background: #000;
    color: #FFF;
    font-size: 80%;
    white-space: normal;
    text-align: center;
    vertical-align: middle;
}

/* Sprites */

#about.selected {
background-repeat:no-repeat;
background-position: 0px 0px;
}

#send.selected {
background-repeat:no-repeat;
background-position: 80px 0px;
}

#best.selected {
background-repeat:no-repeat;
background-position: 160px 0px;
}

#new.selected {
background-repeat:no-repeat;
background-position: 240px 0px;
}

#about.selected {
background-repeat:no-repeat;
background-position: 0px 49px;
}

#send.selected {
background-repeat:no-repeat;
background-position: 80px 49px;
}

#best.selected {
background-repeat:no-repeat;
background-position: 160px 49px;
}

#new.selected {
background-repeat:no-repeat;
background-position: 240px 49px;
}

#about {
background-repeat:no-repeat;
background-position: 0px 98px;
}

#send {
background-repeat:no-repeat;
background-position: 80px 98px;
}

#best {
background-repeat:no-repeat;
background-position: 160px 98px;
}

#new {
background-repeat:no-repeat;
background-position: 240px 98px;
}

.like {
background-repeat:no-repeat;
background-position: 0px 147px;
}

.dislike {
background-repeat:no-repeat;
background-position: 114px 147px;
}