/* 
app.css
*/

body {

	background: #121a20 url(images/bg.jpg) left top repeat;
	font-family: sans-serif;
	margin: 0; padding: 0;
	overflow:hidden;
}


a {
	text-decoration: none;
}

/* Scroll arrows */
.scroll {
	background: #000;
	color: #FFF;
}

#right {
	position: fixed;
}

#viewport {
	float:left;
	width: 100%;
	/*margin-left:10%;*/
	/*margin-right:10%;*/
	position:relative;
	z-index:1;
	overflow:hidden;
}

#jokes {
	height:100%;
	float:left;
	padding:0;
	padding-top:15px;
}
#jokes ul {
	list-style:none;
	display:block;
	float:left;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-align:left;
}
.joke {
	color: #333333;
	background: #E0E0E0; /* old browsers fallback */
	background: -moz-linear-gradient(top, #E0E0E0 0%, #6F6F6E 27%, #515151 64%, #707375 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E0E0E0), color-stop(27%,#6F6F6E), color-stop(64%,#515151), color-stop(100%,#707375));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E0E0E0', endColorstr='#707375',GradientType=0 );
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-sizing:border-box;
	display:block;
	float:left;
	white-space: normal;
	overflow:hidden;
	direction:rtl;
	text-align:right;
	padding:4px;
}
.joke .inner {
	background: #FFF;
	-webkit-box-sizing:border-box;
	display:block;
	padding: 10px 18px 30px;
	min-height:100%;
}
.bottomBar {
	position: fixed;
	bottom: 0;
}

/* Vote buttons */
.voting {
	position: absolute;
	bottom: 47px;
	width: 100%;
	z-index: 10;
	border-bottom: 1px solid #000;
	text-align: center;
}

.vote, #submit {
	display: inline-block;
	position: relative;
	margin: 1em 3%;
	width: 111px;
	height: 31px;
	border: 1px solid #2c2c2c;
	border: 1px solid rgba(44,44,44,0.9);
	line-height: 29px;
	text-align: right;
	text-indent: 7px;
	font-weight: bold;
	color: #111;
	background: #F3F3F3;
	background: -moz-linear-gradient(top, #F3F3F3 0%, #DBDBDB 50%, #CACACA 51%, #DCDCDC 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3F3F3), color-stop(50%,#DBDBDB), color-stop(51%,#CACACA), color-stop(100%,#DCDCDC));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F3F3F3', endColorstr='#DCDCDC',GradientType=0 );
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

#submit {
	width: 222px;
	display: none;
}

.voting.submitActive #submit {
	display: inline-block;
}

.voting.submitActive .vote {
	display: none;
}

.vote .icon, #submit .icon {
	display: inline-block;
	position: absolute;
	left: 7px;
	top: 6px;
	width: 19px;
	height: 19px;
}

#submit .icon {
	width: 29px;
}

#like .icon {
	background-position: -3px -61px;
}

#dislike .icon {
	background-position: -25px -61px;
}

#submit .icon {
	background-position: -50px -61px;
}

.vote.active {
	-webkit-box-shadow: 1px 1px 5px red;
}

/* Bottom Bar */
nav {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 46px;
	border-top: 1px solid #545454;
	background: #000;
	background: -moz-linear-gradient(top, #3B3B3B 0%, #1D1D1D 50%, #020202 51%, #000000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3B3B3B), color-stop(50%,#1D1D1D), color-stop(51%,#020202), color-stop(100%,#000000));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3B3B3B', endColorstr='#000000',GradientType=0 );
}

nav a {
	float: right;
	width: 25%;
	height:49px;
	line-height: 6px;
	color: #FFF;
	font-size: 70%;
	font-weight: bold;
	white-space: normal;
	text-align: center;
	vertical-align: middle;
}

nav .icon {
	height: 26px;
	margin: 3px auto 6px;
	position: relative;
	top: 1px;
}

/* tab icons */
#new .icon {background-position: -87px -2px; width: 27px;}
#top .icon {background-position: -57px -2px; width: 25px;}
#send .icon {background-position: -27px -2px; width: 25px;}
#about .icon {background-position: 0 -2px; width: 21px;}

/* active tab icons */
#new:hover .icon, body.new #new .icon {background-position: -87px -30px;}
#top:hover .icon, body.top #top .icon{background-position: -57px -30px;}
#send:hover .icon, body.send #send .icon {background-position: -27px -30px;}
#about:hover .icon, body.about #about .icon {background-position: 0 -30px;}

.icon {
	background-image: url(images/icons.png?v=2);
	background-repeat: no-repeat;
}

nav .inner {
    width: 97%;
	height: 43px;
    margin: -2px auto;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* tab highlights */
body.new #new .inner,
body.top #top .inner, 
body.send #send .inner,
body.about #about .inner {
	background: rgba(255, 255, 255, 0.14);
}

/* Helpers */
.imgrep, .icon {
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -1000em;
	color: transparent;
	font-size: 0;
	line-height: 0;
}

/* forms */

div.controls textarea {
	width:100%;
	max-width: 400px;
}

div.controls input {
	background: none;
	border: 1px solid #CCC;
	float: none;
	font-size: 15px;
	padding: 5px 20px;
	width: auto;
	display:block;
}
