<?

if (!defined('SECURITY_CHECK')) { 
	die('Hacking Attempt!');
}

$host = "localhost"; //database location
$user = "root"; //database username
$pass = ""; //database password
$db_name = "database"; //database name

//database connection
$conn = mysql_connect($host, $user, $pass);
mysql_select_db($db_name);

mysql_query("SET NAMES utf8");

?>